@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:wght@700&display=swap");

.review_Container {
  padding: 120px 0 0 0;
}

.review_Container > h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Besley", sans-serif;
}

.review_Container_mappedItems_form {
  flex-direction: column;
  padding: 0px 30px;
}

.reviewsContainer_review {
  width: 400px;
  height: 280px;
  margin: 20px 0;
}

.reviewContainer_mappedItems {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.review_content_box {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review_content_box > section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.review_content_box > section > p {
  font-size: smaller;
  padding: 10px !important;
}

.rating_box {
  margin-bottom: 15px !important;
}

.rating_box > .MuiRating-readOnly > span {
  font-size: smaller;
}

.reviewContainer_inputForm {
  display: flex;
  justify-content: center;
}

.review_Container_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid orangered;
  border-bottom: 2px solid orangered;
  padding: 10px 0;
}

.review_Container_form > p {
  width: 80%;

  text-align: justify;
}

.review_Container_form > input {
  width: 80%;
  margin: 5px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
}

.review_Container_form > textarea {
  width: 80%;
  height: 150px;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
}

.review_Container_button_section button {
  background-color: #f64c08;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px 10px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  outline: none;
  box-shadow: none;
}

.review_Container_button_section button:hover {
  color: #f64c08;
  background-color: white;
}

.rating_box {
  margin-bottom: 0 !important;
}
.rating_box > .user_rating > span {
  font-size: 20px;
}

.rating_box > p {
  margin-bottom: 5px;
  padding: 0;
}

.rating_box > .user_rating_input {
  font-size: 25px;
}
