.thamburan_footer_head {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thamburan_footer_logo {
  width: 100%;
  /* height: 200px; */
}

.thamburan_footer_head > p {
  padding: 10px 0;
  text-align: justify;
}

.thamburan_link {
  font-size: smaller;
}
