.thamburan_footer_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thamburan_footer_services {
  text-align: center;
}

.thamburan_footer_services > p {
  font-size: smaller;
  margin-bottom: 5px;
}

.thamburan_footer_packages {
  text-align: center;
}
.thamburan_footer_packages > p {
  font-size: smaller;
  margin-bottom: 5px;
}

.thamburan_footer_contact > p {
  font-size: smaller;
  padding-left: 40px;
  text-align: left;
  margin-bottom: 5px;
}

.thamburan_footer_logo {
  width: 100%;
}

.thamburan_link {
  font-size: x-small;
}
