.thamburan_footer_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thamburan_footer_logo {
  width: 100%;
}

.thamburan_link {
  font-size: smaller;
}
